{
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "bracketSpacing": true,
    "arrowParens": "always",
    "vueIndentScriptAndStyle": true,
    "endOfLine": "auto",
    "tabWidth": 2,
    "printWidth": 80
}