.labeled-select span {
  font-size: 90%;
  color: rgba(58, 58, 58, 0.7);
  background-color: white;
  position: absolute;
  z-index: 1;
  top: -7px;
  left: 7px;
}

.vs--disabled .vs__clear,
.vs--disabled .vs__dropdown-toggle,
.vs--disabled .vs__open-indicator,
.vs--disabled .vs__search,
.vs--disabled .vs__selected {
  background-color: transparent !important;
}

.inline-edit:not([disabled]) {
  padding-bottom: 10px !important;
  border-bottom: .5px solid gray !important;
}